<!DOCTYPE html>
{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <center><h2>HOW TO USE THE APP</h2></center>
<style>
div.transbox {
    margin: 30 px;
    background-color: #ffffff;
    border: 5px solid black;
    border-style: double;
    opacity: 1.0;
}
div.transbox p {
    margin: 1%;
    color: black;
}
</style>
</head>

<body>
    <div class="transbox">
        <ul style="list-style-type: lower-roman">
            <li style="color: green">Work out, enjoy yourself, and compete with others!</li>
            <br>
            <li style="color: darkblue">Log your workouts to earn points and compete with other users to improve your health!</li>
            <br>
            <li style="color: green">Earn bonus points for exercising outside and getting some fresh air!</li>
            <br>
            <li style="color: darkblue">Click on the 'Profile' tab to edit your account information.</li>
            <br>
            <li style="color: green">Click on 'Community' and the 'Log New Post' to share a tip, trick, or accomplishment with the community! </li>
            <br>
            <li style="color: darkblue">Click on 'Workouts' and the 'Log New Workout' to record a new workout!</li>
            <br>
            <li style="color: green">Check out the leaderboard to see how you compare to other users of the app!</li>
            <br>
            <li style="color: darkblue">See all the badges you've earned for working out!</li>
        </ul>
    </div>
</body>

{% endblock %}

</html>