<!DOCTYPE html>
{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <center><h2>LEADERBOARD</h2>
    <p>See where you are in the rankings!</p></center>
    <style>

table{
    background-color: #ffffff;
    border: 5px solid black;
    border-style: double;
}
th , td{
    border: 1px solid black;
    background-color: #ffffff;
    text-align: center;
}
caption{
    color: black;
}
</style>
</head>
<body>

<caption><b>Note:</b> You are ranked by average total points not by the overall total to be fair to users who join later</caption>
<table style="width:100%;">

    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Points</th>
        <th>Average Points</th>
    </tr>
    {% for rank in leader_board_avg %}
    <tr>
        {% if forloop.counter == 1 %}
            <td style="background-color:gold;">{{ forloop.counter }}</td>
            <td style="background-color:gold;">{{ rank.user }}</td>
            <td style="background-color:gold;">{{ rank.workout_points }}</td>
            <td style="background-color:gold;">{{ rank.avg_points }}</td>
        {% elif forloop.counter == 2 %}
            <td style="background-color:silver;">{{ forloop.counter }}</td>
            <td style="background-color:silver;">{{ rank.user }}</td>
            <td style="background-color:silver;">{{ rank.workout_points }}</td>
            <td style="background-color:silver;">{{ rank.avg_points }}</td>
        {% elif forloop.counter == 3 %}
            <td style="background-color:#CD7F32;">{{ forloop.counter }}</td>
            <td style="background-color:#CD7F32;">{{ rank.user }}</td>
            <td style="background-color:#CD7F32;">{{ rank.workout_points }}</td>
            <td style="background-color:#CD7F32;">{{ rank.avg_points }}</td>
        {% else %}
            <td>{{ forloop.counter }}</td>
            <td>{{ rank.user }}</td>
            <td>{{ rank.workout_points }}</td>
            <td>{{ rank.avg_points }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

</body>
</html>

{% endblock %}