{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<center><h2>LOG A NEW WORKOUT</h2>
<br>
<br>
<form action="{% url 'exercise:log_new' %}" method="post">
    {% csrf_token %}

    <b>Exercise Type: </b>{{ exerciseform.exercise_type }}
    <b>Location: </b>{{ exerciseform.location }}
    <br>
    <br>
    <b>Duration: </b>{{ exerciseform.time_taken }}
    <br>
    <br>
    <div style="width: 30%" align="center">
        <b>Date: </b> {{ exerciseform.exercise_date }}
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div>{{ message }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <div style="width: 60%" align="center">
        <b>Description: </b>{{ exerciseform.description }}
    </div>
    <center>
        <br>
    <input type="submit" value="Log and View All Workouts">


    </center>

</form>
    {% endblock %}
</center>