<style>

    div.dropdown {
        float: left;
        padding: 14px 16px;
        color: black;
    }

    div.navbar {
        display: inline-block;
    }


</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-transparent text-center">
        <a style="color: black" class="nav-link" href = "{% url 'exercise:home' %}">Home</a>
        <a style="color: black" class="nav-link" href = "{% url 'exercise:directions' %}">How To Use The App</a>
        <a style="color: black" class="nav-link" href="{% url 'exercise:profile' %}">My Profile</a>

    <div class="dropdown-links" align="center">
        <div class="dropdown" align="center">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown">
                Community
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href = "{% url 'exercise:new_post' %}">Log New Post</a>
                <a class="dropdown-item" href = "{% url 'exercise:posts' %}">Community Posts</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown">
                Workouts
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href = "{% url 'exercise:log_new' %}">Log New Workout</a>
                <a class="dropdown-item" href = "{% url 'exercise:my_ws' %}">My Workouts</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown">
                Badges/Leaderboard
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href = "{% url 'exercise:badge_info' %}">Badge Info</a>
                <a class="dropdown-item" href = "{% url 'exercise:badges' %}">Badges</a>
                <a class="dropdown-item" href = "{% url 'exercise:leaderboard' %}">Leaderboard</a>
            </div>
        </div>
    </div>

        <a style="color: black" class="nav-link" href = "{% url 'logout' %}">Logout</a>
    </nav>
</body>